[submodule "submodules/tmux/plugins/tpm"]
	path = submodules/tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "submodules/zinit"]
	path = submodules/zinit
	url = https://github.com/zdharma-continuum/zinit
[submodule "submodules/shell-color-scripts"]
	path = submodules/shell-color-scripts
	url = https://gitlab.com/dwt1/shell-color-scripts.git
